.Footer_68 {
  background-image: url(../images/68bg.jpg);
  padding-top: 150px;
  padding-right: 0px;
  padding-bottom: 150px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  z-index: 1;
  position: relative; }
  .Footer_68 .overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-repeat: repeat;
    z-index: 1; }
  .Footer_68 .column {
    position: relative;
    z-index: 1; }
    .Footer_68 .column .space {
      height: 60px; }
    .Footer_68 .column .title {
      font-weight: 400;
      line-height: 40px;
      color: #fff;
      margin-bottom: 3px;
      opacity: 0.6; }
      .Footer_68 .column .text-content h2 {
        margin-bottom: 3px;
        font-weight: 600;
        line-height: 50px;
        color: #fff; }
      .Footer_68 .column .text-content .ce-title-line {
        width: 12%;
        height: 2px;
        background-color: #fccb06;
        margin: 15px 0 0 0; }
    .Footer_68 .column .item-content {
      width: 100%;
      padding: 50px;
      border: 1px solid rgba(255, 255, 255, 0.1); }
      .Footer_68 .column .item-content .item-icon {
        color: #fccb06;
        margin: 0 auto;
        font-size: 40px; }
      .Footer_68 .column .item-content .item-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 16px;
        margin-top: 10px;
        font-style: normal; }
      .Footer_68 .column .item-content .opacity-6 {
        opacity: 0.6;
        font-size: 16px; }
    .Footer_68 .column .swiper-container {
      width: 100%;
      height: 100%; }
      .Footer_68 .column .swiper-container .swiper-slide {
        text-align: center;
        font-size: 18px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center; }
      .Footer_68 .column .swiper-container .swiper-button-next::after, .Footer_68 .column .swiper-container .swiper-button-prev::after {
        color: #727272;
        zoom: 1;
        margin: 5px;
        left: -7%;
        top: -240px;
        padding: 18px;
        font-size: 0;
        border-radius: 100%;
        opacity: 1;
        transition: all 0.3s ease-out 0s;
        border: 2px solid rgba(255, 255, 255, 0.3); }
